#hoten{
	border-radius: 25px;
	background-color: #f2f3e3;
}
#tendangnhap{
	border-radius: 25px;
	background-color: #f2f3e3;
}
#dienthoai{
	border-radius: 25px;
	background-color: #f2f3e3;
}
#Email{
	border-radius: 25px;
	background-color: #f2f3e3;
}
#khoahoc{
	border-radius: 25px;
	background-color: #f2f3e3;
}
#gichu{
	border-radius: 25px;
	background-color: #f2f3e3;
}
#nhapma{
	border-radius: 19px;
	background-color: #f2f3e3;
}
.dangky{
	background-color: #009933;
	text-decoration-color:#ffffff;
	width: 50px;
    height: 27px
}